.content7{
  display: grid;
  margin-top: 60PX;
  grid-template-columns: 1fr 1fr;
  row-gap: 30px;
  column-gap: 30px;
  margin-bottom: 60px;
  
}

.profile1{
  height: 400px;
  display: flex;
  width: 100%;
  background-color: rgb(158, 185, 176);
  transition: transform 0.5s ;
  border-radius: 20px;
  transition: transform 0.5s ,
   border 0.5s;
}
.profile1:hover {
  transform: scale(0.9);
  border: 3px solid red;
}

.profile1 img{
  margin: 50px;
 height: 300px;
  width: 300px;
  border-radius: 150px;
  object-fit: cover;
  transition: transform 0.5s ,
  border 0.5s ;
}

.profile1 img:hover {
  transform: scale(1.1);
}


.information{
  margin-top: 30px;
  width: 250px;
  
}
.namemain{
font-size: 60px;
transition: transform 0.5s ;
}

.namemain:hover {
  transform: scale(1.4);
}
.status{
margin-top: 50px;
font-size: 20px;
border: 2px solid black;
border-radius: 10px;
transition: transform 0.5s ;
}

.status:hover {
  transform: scale(1.1);
}

@media(max-width: 1080px){

}




@media(max-width: 480px){
.content7{
  
  grid-template-columns: 1fr;
}
.profile1{
margin-left: 20px;
margin-right: 20px;
width: 400px;
height: 250px;
}
.profile1:hover {
  transform: scale(0.9);
  border: 3px solid red;
}
.profile1 img{
  height: 100px;
  width: 100px;
}
.profile1 img:hover {
  transform: scale(1.4);
}
.information{
 margin-right: 20px;
}
.namemain{
  font-size: 30px;
}
.namemain:hover {
  transform: scale(1.3);
}
.status{
font-size: 15px;
}
.status:hover {
  transform: scale(1.2);
}
}

@media(max-width: 750px){
 .content7{
  
  grid-template-columns: 1fr;
}
.profile1{
margin-left: 20px;
margin-right: 20px;
width: 400px;
height: 250px;
}
.profile1:hover {
  transform: scale(0.9);
  border: 3px solid red;
}
.profile1 img{
  height: 100px;
  width: 100px;
}
.profile1 img:hover {
  transform: scale(1.4);
}
.information{
 margin-right: 20px;
}
.namemain{
  font-size: 30px;
}
.namemain:hover {
  transform: scale(1.3);
}
.status{
font-size: 15px;
}
.status:hover {
  transform: scale(1.2);
}
}